<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Outstock - Clean, Minimal eCommerce HTML5 Template </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico in the root directory -->
        <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">
        
		<!-- CSS here -->
        <link rel="stylesheet" href="assets/css/preloader.css">
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/slick.css">
        <link rel="stylesheet" href="assets/css/metisMenu.css">
        <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
        <link rel="stylesheet" href="assets/css/animate.min.css">
        <link rel="stylesheet" href="assets/css/ui-range-slider.css">
        <link rel="stylesheet" href="assets/css/jquery.fancybox.min.css">
        <link rel="stylesheet" href="assets/css/fontAwesome5Pro.css">
        <link rel="stylesheet" href="assets/css/ionicons.min.css">
        <link rel="stylesheet" href="assets/css/default.css">
        <link rel="stylesheet" href="assets/css/style.css">
    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <!-- Add your site or application content here -->  

        <!-- prealoder area start -->
        <div id="loading">
            <div id="loading-center">
                <div id="loading-center-absolute">
                <div class="object" id="first_object"></div>
                <div class="object" id="second_object"></div>
                <div class="object" id="third_object"></div>
                </div>
            </div>      
        </div>
        <!-- prealoder area end -->

        <!-- header area start -->
        <header>
            <div id="header-sticky" class="header__area header__transparent grey-bg">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4">
                            <div class="logo">
                                <a href="index.html"><img src="assets/img/logo/logo.png" alt="logo"></a>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-9 col-md-8 col-sm-8">
                            <div class="header__right p-relative d-flex justify-content-between align-items-center">
                                <div class="main-menu d-none d-lg-block">
                                    <nav>
                                        <ul>
                                            <li class="active has-dropdown"><a href="index.html">Home</a>
                                                <ul class="submenu transition-3">
                                                    <li><a href="index.html">Home Style 1</a></li>
                                                    <li><a href="index-2.html">Home Style 2</a></li>
                                                    <li><a href="index-3.html">Home Style 3</a></li>
                                                    <li><a href="index-4.html">Home Style 4</a></li>
                                                    <li><a href="index-5.html">Home Style 5</a></li>
                                                    <li><a href="index-6.html">Home Style 6</a></li>
                                                    <li><a href="index-7.html">Home Style 7</a></li>
                                                </ul>
                                            </li>
                                            <li class="mega-menu has-dropdown"><a href="shop.html">Shop</a>
                                                <ul class="submenu transition-3" data-background="assets/img/bg/mega-menu-bg.jpg">
                                                    <li class="has-dropdown">
                                                        <a href="shop.html">Shop Pages</a>
                                                        <ul>
                                                            <li><a href="shop.html">Standard Shop Page</a></li>
                                                            <li><a href="shop-right-sidebar.html">Shop Right Sidebar</a></li>
                                                            <li><a href="shop-4-col.html">Shop 4 Column</a></li>
                                                            <li><a href="shop-3-col.html">Shop 3 Column</a></li>
                                                            <li><a href="shop.html">Shop Page</a></li>
                                                            <li><a href="shop.html">Shop Page </a></li>
                                                            <li><a href="shop.html">Shop Infinity</a></li>
                                                        </ul>
                                                    </li>
                                                    <li  class="has-dropdown">
                                                        <a href="shop.html">Products Pages</a>
                                                        <ul>
                                                            <li><a href="product-details.html">Product Details</a></li>
                                                            <li><a href="product-details.html">Product Page V2</a></li>
                                                            <li><a href="product-details.html">Product Page V3</a></li>
                                                            <li><a href="product-details.html">Product Page V4</a></li>
                                                            <li><a href="product-details.html">Simple Product</a></li>
                                                            <li><a href="product-details.html">Variable Product</a></li>
                                                            <li><a href="product-details.html">External Product</a></li>
                                                        </ul>
                                                    </li>
                                                    <li  class="has-dropdown">
                                                        <a href="shop.html">Other Shop Pages</a>
                                                        <ul>
                                                            <li><a href="wishlist.html">Wishlist</a></li>
                                                            <li><a href="cart.html">Shopping Cart</a></li>
                                                            <li><a href="checkout.html">Checkout</a></li>
                                                            <li><a href="register.html">Register</a></li>
                                                            <li><a href="login.html">Login</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="has-dropdown"><a href="blog.html">Blog</a>
                                                <ul class="submenu transition-3">
                                                    <li><a href="blog.html">Blog</a></li>
                                                    <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                                    <li><a href="blog-no-sidebar.html">Blog No Sidebar</a></li>
                                                    <li><a href="blog-2-col.html">Blog 2 Column</a></li>
                                                    <li><a href="blog-2-col-mas.html">BLog 2 Col Masonary</a></li>
                                                    <li><a href="blog-3-col.html">Blog 3 Column</a></li>
                                                    <li><a href="blog-details.html">Blog Details</a></li>
                                                </ul>
                                            </li>
                                            <li class="has-dropdown"><a href="shop.html">Pages</a>
                                                <ul class="submenu transition-3">
                                                    <li><a href="wishlist.html">Wishlist</a></li>
                                                    <li><a href="cart.html">Shopping Cart</a></li>
                                                    <li><a href="checkout.html">Checkout</a></li>
                                                    <li><a href="account.html">My Account</a></li>
                                                    <li><a href="register.html">Register</a></li>
                                                    <li><a href="login.html">Login</a></li>
                                                    <li><a href="error.html">Error 404</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="contact.html">Contact</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="mobile-menu-btn d-lg-none">
                                    <a href="javascript:void(0);" class="mobile-menu-toggle"><i class="fas fa-bars"></i></a>
                                </div>
                                <div class="header__action">
                                    <ul>
                                        <li><a href="#" class="search-toggle"><i class="ion-ios-search-strong"></i> Search</a></li>
                                        <li><a href="javascript:void(0);" class="cart"><i class="ion-bag"></i> Cart <span>(01)</span></a>
                                            <div class="mini-cart">
                                                <div class="mini-cart-inner">
                                                    <ul class="mini-cart-list">
                                                        <li>
                                                            <div class="cart-img f-left">
                                                                <a href="product-details.html">
                                                                    <img src="assets/img/shop/product/cart-sm/16.jpg" alt="" />
                                                                </a>
                                                            </div>
                                                            <div class="cart-content f-left text-left">
                                                                <h5>
                                                                    <a href="product-details.html">Consectetur adi </a>
                                                                </h5>
                                                                <div class="cart-price">
                                                                    <span class="ammount">1 <i class="fal fa-times"></i></span>
                                                                    <span class="price">$ 400</span>
                                                                </div>
                                                            </div>
                                                            <div class="del-icon f-right mt-30">
                                                                <a href="#">
                                                                    <i class="fal fa-times"></i>
                                                                </a>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="cart-img f-left">
                                                                <a href="product-details.html">
                                                                    <img src="assets/img/shop/product/cart-sm/17.jpg" alt="" />
                                                                </a>
                                                            </div>
                                                            <div class="cart-content f-left text-left">
                                                                <h5>
                                                                    <a href="product-details.html">Wooden container Bowl </a>
                                                                </h5>
                                                                <div class="cart-price">
                                                                    <span class="ammount">1 <i class="fal fa-times"></i></span>
                                                                    <span class="price">$ 400</span>
                                                                </div>
                                                            </div>
                                                            <div class="del-icon f-right mt-30">
                                                                <a href="#">
                                                                    <i class="fal fa-times"></i>
                                                                </a>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="cart-img f-left">
                                                                <a href="product-details.html">
                                                                    <img src="assets/img/shop/product/cart-sm/18.jpg" alt="" />
                                                                </a>
                                                            </div>
                                                            <div class="cart-content f-left text-left">
                                                                <h5>
                                                                    <a href="product-details.html">Black White Towel </a>
                                                                </h5>
                                                                <div class="cart-price">
                                                                    <span class="ammount">1 <i class="fal fa-times"></i></span>
                                                                    <span class="price">$ 400</span>
                                                                </div>
                                                            </div>
                                                            <div class="del-icon f-right mt-30">
                                                                <a href="#">
                                                                    <i class="fal fa-times"></i>
                                                                </a>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                    <div class="total-price d-flex justify-content-between mb-30">
                                                        <span>Subtotal:</span>
                                                        <span>$400.0</span>
                                                    </div>
                                                    <div class="checkout-link">
                                                        <a href="cart.html" class="os-btn">view Cart</a>
                                                        <a class="os-btn os-btn-black" href="checkout.html">Checkout</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li> <a href="javascript:void(0);"><i class="far fa-bars"></i></a>
                                            <ul class="extra-info">
                                                <li>
                                                    <div class="my-account">
                                                        <div class="extra-title">
                                                            <h5>My Account</h5>
                                                        </div>
                                                        <ul>
                                                           <li><a href="account.html">My Account</a></li>
                                                            <li><a href="wishlist.html">Wishlist</a></li>
                                                            <li><a href="cart.html">Cart</a></li>
                                                            <li><a href="checkout.html">Checkout</a></li>
                                                            <li><a href="register.html">Create Account</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="lang">
                                                        <div class="extra-title">
                                                            <h5>Language</h5>
                                                        </div>
                                                        <ul>
                                                            <li><a href="#">English</a></li>
                                                            <li><a href="#">France</a></li>
                                                            <li><a href="#">Germany</a></li>
                                                            <li><a href="#">Bangla</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="currency">
                                                        <div class="extra-title">
                                                            <h5>currency</h5>
                                                        </div>
                                                        <ul>
                                                            <li><a href="#">USD - US Dollar</a></li>
                                                            <li><a href="#">EUR - Ruro</a></li>
                                                            <li><a href="#">GBP - Britis Pound</a></li>
                                                            <li><a href="#">INR - Indian Rupee</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- header area end -->

        <!-- scroll up area start -->
        <div class="scroll-up" id="scroll" style="display: none;">
            <a href="javascript:void(0);"><i class="fas fa-level-up-alt"></i></a>
        </div>
        <!-- scroll up area end -->

        <!-- search area start -->
        <section class="header__search white-bg transition-3">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="header__search-inner text-center">
                            <form action="#">
                                <div class="header__search-btn">
                                    <a href="javascript:void(0);" class="header__search-btn-close"><i class="fal fa-times"></i></a>
                                </div>
                                <div class="header__search-header">
                                    <h3>Search</h3>
                                </div>
                                <div class="header__search-categories">
                                    <ul class="search-category">
                                        <li><a href="shop.html">All Categories</a></li>
                                        <li><a href="shop.html">Accessories</a></li>
                                        <li><a href="shop.html">Chair</a></li>
                                        <li><a href="shop.html">Tablet</a></li>
                                        <li><a href="shop.html">Men</a></li>
                                        <li><a href="shop.html">Women</a></li>
                                        
                                    </ul>
                                </div>
                                <div class="header__search-input p-relative">
                                    <input type="text" placeholder="Search for products... ">
                                    <button type="submit"><i class="far fa-search"></i></button>
                                </div>
                            </form>
                
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="body-overlay transition-3"></div>
        <!-- search area end -->

        <!-- extra info area start -->
        <section class="extra__info transition-3">
            <div class="extra__info-inner">
                <div class="extra__info-close text-right">
                    <a href="javascript:void(0);" class="extra__info-close-btn"><i class="fal fa-times"></i></a>
                </div>
                <!-- side-mobile-menu start -->
                <nav class="side-mobile-menu d-block d-lg-none">
                    <ul id="mobile-menu-active">
                        <li class="active has-dropdown"><a href="index.html">Home</a>
                            <ul class="submenu transition-3">
                                <li><a href="index.html">Home Style 1</a></li>
                                <li><a href="index-2.html">Home Style 2</a></li>
                                <li><a href="index-3.html">Home Style 3</a></li>
                                <li><a href="index-4.html">Home Style 4</a></li>
                                <li><a href="index-5.html">Home Style 5</a></li>
                                <li><a href="index-6.html">Home Style 6</a></li>
                            </ul>
                        </li>
                        <li class="mega-menu has-dropdown"><a href="shop.html">Shop</a>
                            <ul class="submenu transition-3" data-background="assets/img/bg/mega-menu-bg.jpg">
                                <li class="has-dropdown">
                                    <a href="shop.html">Shop Pages</a>
                                    <ul>
                                        <li><a href="shop.html">Standard Shop Page</a></li>
                                        <li><a href="shop-right-sidebar.html">Shop Right Sidebar</a></li>
                                        <li><a href="shop-4-col.html">Shop 4 Column</a></li>
                                        <li><a href="shop-3-col.html">Shop 3 Column</a></li>
                                        <li><a href="shop.html">Shop Page</a></li>
                                        <li><a href="shop.html">Shop Page </a></li>
                                        <li><a href="shop.html">Shop Infinity</a></li>
                                    </ul>
                                </li>
                                <li  class="has-dropdown">
                                    <a href="shop.html">Products Pages</a>
                                    <ul>
                                        <li><a href="product-details.html">Product Details</a></li>
                                        <li><a href="product-details.html">Product Page V2</a></li>
                                        <li><a href="product-details.html">Product Page V3</a></li>
                                        <li><a href="product-details.html">Product Page V4</a></li>
                                        <li><a href="product-details.html">Simple Product</a></li>
                                        <li><a href="product-details.html">Variable Product</a></li>
                                        <li><a href="product-details.html">External Product</a></li>
                                    </ul>
                                </li>
                                <li  class="has-dropdown">
                                    <a href="shop.html">Other Shop Pages</a>
                                    <ul>
                                        <li><a href="wishlist.html">Wishlist</a></li>
                                        <li><a href="cart.html">Shopping Cart</a></li>
                                        <li><a href="checkout.html">Checkout</a></li>
                                        <li><a href="register.html">Register</a></li>
                                        <li><a href="login.html">Login</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="has-dropdown"><a href="blog.html">Blog</a>
                            <ul class="submenu transition-3">
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                <li><a href="blog-no-sidebar.html">Blog No Sidebar</a></li>
                                <li><a href="blog-2-col.html">Blog 2 Column</a></li>
                                <li><a href="blog-2-col-mas.html">BLog 2 Col Masonary</a></li>
                                <li><a href="blog-3-col.html">Blog 3 Column</a></li>
                                <li><a href="blog-details.html">Blog Details</a></li>
                            </ul>
                        </li>
                        <li class="has-dropdown"><a href="shop.html">Pages</a>
                            <ul class="submenu transition-3">
                                <li><a href="wishlist.html">Wishlist</a></li>
                                <li><a href="cart.html">Shopping Cart</a></li>
                                <li><a href="checkout.html">Checkout</a></li>
                                <li><a href="register.html">Register</a></li>
                                <li><a href="login.html">Login</a></li>
                                <li><a href="error.html">Error 404</a></li>
                            </ul>
                        </li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </nav>
                <!-- side-mobile-menu end -->
            </div>
        </section>
        <div class="body-overlay transition-3"></div>
        <!-- extra info area end -->

        <main>

            <!-- page title area start -->
            <section class="page__title p-relative d-flex align-items-center" data-background="assets/img/page-title/page-title-1.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="page__title-inner text-center">
                                <h1>News & Blog</h1>
                                <div class="page__title-breadcrumb">                                 
                                    <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb justify-content-center">
                                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page"> Blog 3 Column</li>
                                    </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- page title area end -->

            <!-- blog area start -->
            <section class="blog__area pt-100 pb-100">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="blog__wrapper">
                                <div class="blog__item blog__border-bottom mb-60 pb-60">
                                    <div class="blog__thumb fix">
                                        <a href="blog-details.html" class="w-img"><img src="assets/img/blog/blog-big-2.jpg" alt="blog"></a>
                                    </div>
                                    <div class="blog__content">
                                        <h4><a href="blog-details.html">Anteposuerit litterarum formas.</a></h4>
                                        <div class="blog__meta">
                                            <span>By <a href="#">Shahnewaz Sakil</a></span>
                                            <span>/ September 14, 2017</span>
                                        </div>
                                        <p>A Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with [...]</p>
                                        <a href="blog-details.html" class="os-btn">read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="blog__item blog__border-bottom mb-60 pb-60">
                                <div class="blog__thumb fix">
                                    <a href="blog-details.html" class="w-img"><img src="assets/img/blog/blog-big-3.jpg" alt="blog"></a>
                                </div>
                                <div class="blog__content">
                                    <h4><a href="blog-details.html">Hanging fruit to identify a ballpark</a></h4>
                                    <div class="blog__meta">
                                        <span>By <a href="#">Shahnewaz Sakil</a></span>
                                        <span>/ September 14, 2017</span>
                                    </div>
                                    <p>A Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with [...]</p>
                                    <a href="blog-details.html" class="os-btn">read more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="blog__item blog__border-bottom mb-30 pb-60">
                                <div class="blog__thumb fix">
                                    <a href="blog-details.html" class="w-img"><img src="assets/img/blog/blog-big-5.jpg" alt="blog"></a>
                                </div>
                                <div class="blog__content">
                                    <h4><a href="blog-details.html">Additional clickthroughs from DevOps</a></h4>
                                    <div class="blog__meta">
                                        <span>By <a href="#">Shahnewaz Sakil</a></span>
                                        <span>/ September 14, 2017</span>
                                    </div>
                                    <p>A Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with [...]</p>
                                    <a href="blog-details.html" class="os-btn">read more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="blog__wrapper">
                                <div class="blog__item blog__border-bottom mb-60 pb-60">
                                    <div class="blog__thumb fix">
                                        <a href="blog-details.html" class="w-img"><img src="assets/img/blog/blog-big-4.jpg" alt="blog"></a>
                                    </div>
                                    <div class="blog__content">
                                        <h4><a href="blog-details.html">Override the digital divide with</a></h4>
                                        <div class="blog__meta">
                                            <span>By <a href="#">Shahnewaz Sakil</a></span>
                                            <span>/ September 14, 2017</span>
                                        </div>
                                        <p>A Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with [...]</p>
                                        <a href="blog-details.html" class="os-btn">read more</a>
                                    </div>
                                </div>                              
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="blog__item blog__border-bottom mb-60 pb-60">
                                <div class="blog__thumb fix">
                                    <a href="blog-details.html" class="w-img"><img src="assets/img/blog/blog-big-6.jpg" alt="blog"></a>
                                </div>
                                <div class="blog__content">
                                    <h4><a href="blog-details.html">Ballpark value added activity</a></h4>
                                    <div class="blog__meta">
                                        <span>By <a href="#">Shahnewaz Sakil</a></span>
                                        <span>/ September 14, 2017</span>
                                    </div>
                                    <p>A Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with [...]</p>
                                    <a href="blog-details.html" class="os-btn">read more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="blog__item blog__border-bottom mb-30 pb-60">
                                <div class="blog__thumb fix">
                                    <a href="blog-details.html" class="w-img"><img src="assets/img/blog/blog-big-7.jpg" alt="blog"></a>
                                </div>
                                <div class="blog__content">
                                    <h4><a href="blog-details.html">Immersion along the information</a></h4>
                                    <div class="blog__meta">
                                        <span>By <a href="#">Shahnewaz Sakil</a></span>
                                        <span>/ September 14, 2017</span>
                                    </div>
                                    <p>A Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with [...]</p>
                                    <a href="blog-details.html" class="os-btn">read more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="blog__wrapper">
                                <div class="blog__item blog__border-bottom mb-60 pb-60">
                                    <div class="blog__thumb fix">
                                        <a href="blog-details.html" class="w-img"><img src="assets/img/blog/blog-4.jpg" alt="blog"></a>
                                    </div>
                                    <div class="blog__content">
                                        <h4><a href="blog-details.html">Value added activity to beta</a></h4>
                                        <div class="blog__meta">
                                            <span>By <a href="#">Shahnewaz Sakil</a></span>
                                            <span>/ September 14, 2017</span>
                                        </div>
                                        <p>A Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with [...]</p>
                                        <a href="blog-details.html" class="os-btn">read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="blog__item blog__border-bottom mb-60 pb-60">
                                <div class="blog__thumb fix">
                                    <a href="blog-details.html" class="w-img"><img src="assets/img/blog/blog-5.jpg" alt="blog"></a>
                                </div>
                                <div class="blog__content">
                                    <h4><a href="blog-details.html">Low hanging fruit to identify</a></h4>
                                    <div class="blog__meta">
                                        <span>By <a href="#">Shahnewaz Sakil</a></span>
                                        <span>/ September 14, 2017</span>
                                    </div>
                                    <p>A Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with [...]</p>
                                    <a href="blog-details.html" class="os-btn">read more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="blog__item blog__border-bottom mb-30 pb-60">
                                <div class="blog__thumb fix">
                                    <a href="blog-details.html" class="w-img"><img src="assets/img/blog/blog-6.jpg" alt="blog"></a>
                                </div>
                                <div class="blog__content">
                                    <h4><a href="blog-details.html">The digital divide with</a></h4>
                                    <div class="blog__meta">
                                        <span>By <a href="#">Shahnewaz Sakil</a></span>
                                        <span>/ September 14, 2017</span>
                                    </div>
                                    <p>A Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with [...]</p>
                                    <a href="blog-details.html" class="os-btn">read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="shop-pagination-wrapper">
                                <div class="basic-pagination">
                                    <ul>
                                        <li><a href="#"><i class="fal fa-angle-left"></i></a></li>
                                        <li><a href="#">01</a></li>
                                        <li class="active"><a href="#">02</a></li>
                                        <li><a href="#">03</a></li>
                                        <li><a href="#"><i class="fas fa-ellipsis-h"></i></a></li>
                                        <li><a href="#"><i class="fal fa-angle-right"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- blog area end -->
        </main>

        <!-- footer area start -->
        <section class="footer__area footer-bg">
            <div class="footer__top pt-100 pb-60">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                            <div class="footer__widget mb-30">
                                <div class="footer__widget-title mb-25">
                                    <a href="index.html"><img src="assets/img/logo/logo-2.png" alt="logo"></a>
                                </div>
                                <div class="footer__widget-content">
                                    <p>Outstock is a premium Templates theme with advanced admin module. It’s extremely customizable, easy to use and fully responsive and retina ready.</p>
                                    <div class="footer__contact">
                                        <ul>
                                            <li>
                                                <div class="icon">
                                                    <i class="fal fa-map-marker-alt"></i>
                                                </div>
                                                <div class="text">
                                                    <span>Add: 1234 Heaven Stress, Beverly Hill, Melbourne, USA.</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon">
                                                    <i class="fal fa-envelope-open-text"></i>
                                                </div>
                                                <div class="text">
                                                    <span>Email: Contact@basictheme.com</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon">
                                                    <i class="fal fa-phone-alt"></i>
                                                </div>
                                                <div class="text">
                                                    <span>Phone Number: (800) 123 456 789</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-12">
                            <div class="footer__widget mb-30">
                                <div class="footer__widget-title">
                                    <h5>information</h5>
                                </div>
                                <div class="footer__widget-content">
                                    <div class="footer__links">
                                        <ul>
                                            <li><a href="#">About Us</a></li>
                                            <li><a href="#">Careers</a></li>
                                            <li><a href="#">Delivery Inforamtion</a></li>
                                            <li><a href="#">Privacy Policy</a></li>
                                            <li><a href="#">Terms & Condition</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-12">
                            <div class="footer__widget mb-30">
                                <div class="footer__widget-title mb-25">
                                    <h5>Customer Service</h5>
                                </div>
                                <div class="footer__widget-content">
                                    <div class="footer__links">
                                        <ul>
                                            <li><a href="#">Shipping Policy</a></li>
                                            <li><a href="#">Help & Contact Us</a></li>
                                            <li><a href="#">Returns & Refunds</a></li>
                                            <li><a href="#">Online Stores</a></li>
                                            <li><a href="#">Terms & Conditions</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-7">
                            <div class="footer__copyright">
                                <p>Copyright © <a href="index.html">Outstock</a> all rights reserved. Powered by <a href="index.html">Theme_pure</a></p>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-5">
                            <div class="footer__social f-right">
                                <ul>
                                    <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                    <li><a href="#"><i class="fas fa-share-alt"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- footer area end -->
        
		<!-- JS here -->
        <script src="assets/js/vendor/modernizr-3.5.0.min.js"></script>
        <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
        <script src="assets/js/vendor/waypoints.min.js"></script>
        <script src="assets/js/bootstrap.bundle.min.js"></script>
        <script src="assets/js/metisMenu.min.js"></script>
        <script src="assets/js/slick.min.js"></script>
        <script src="assets/js/jquery.fancybox.min.js"></script>
        <script src="assets/js/isotope.pkgd.min.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/jquery-ui-slider-range.js"></script>
        <script src="assets/js/ajax-form.js"></script>
        <script src="assets/js/wow.min.js"></script>
        <script src="assets/js/imagesloaded.pkgd.min.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
</html>
